@tailwind base;
@tailwind components;
@tailwind utilities;

/* เพิ่ม Google Font เพื่อให้ดูมีความเป็น Art และทันสมัยมากขึ้น */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* สีพื้นหลังขาวนวลๆ แบบ Gallery */
}